@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg-welcome {
	background-color:#0f0e13;
	background-image: 
	  radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
	  radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
	  radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
  }

  .welcome-btn{
	  @apply min-h-[70px] sm:px-0 px-2 sm:min-w-[120px] flex justify-center items-center border-[0.5px] border-gray-400 text-sm font-light text-white
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}